<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/leeLayout}">
<head>
<title>포트폴리오</title>
<th:block layout:fragment="pageCss"></th:block>
<th:block layout:fragment="pageScript"></th:block>
</head>
<body>
	<th:block layout:fragment="pageContent">
		<div class="content">
			<div class="about" id="hom">
				<div class="content-inner">
					<div class="row align-items-center">
						<div class="col-md-6 col-lg-5">
							<img src="/assets/img/main4.jpg" alt="Image">
						</div>
						<div class="col-md-6 col-lg-7" style="text-align: center;">
							<h5 style="font-family: Black Han Sans,sans-serif; font-weight: 700; font-size: 2rem; word-break: keep-all;">이현우 </h5>
							<h5> 웹 개발자 포트폴리오 </h5>
							<p>	
								기록과 공유를 좋아하고 모든 것을 남기는걸 좋아합니다.
								공유의 중요성을 잘 알기에 항상 세기고 실천하려고 노력합니다.
							</p>
							<a id="btnAbout" href="#about">
								<div class="aboutBtn">더 알아보기 ↓</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- About Start -->
			<div class="contact" id="about">
				<div class="content-inner">
					<div class="content-header">
						<h2>ABOUT ME</h2>
					</div>
					<p>기본정보</p>
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="contact-info">
								<p>
									<i class="fa fa-user"></i>이현우
								</p>
								
								<p>
									<i class="fa fa-birthday-cake"></i>1992.02.08
								</p>
								
								<p>
									<i class="fa fa-map-marker"></i>경기도 부천시
								</p>
								
								<p>
									<i class="fa fa-phone"></i><a href="tel:+01068660741">010-6866-0741</a>
								</p>
								
								<p>
									<i class="fa fa-envelope"></i>
									<a href="mailto:dldjsl2@naver.com">dldjsl2@naver.com</a>
								</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Contact End -->
			
			<!-- Education Start -->
			<div class="education" id="education">
				<div class="content-inner">
					<div class="content-header">
						<h2>MY EDUCATION </h2>
					</div>
					
					<p>학력</p>
					
					<!-- 대학교 -->
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>
									<h3>연성대학교(경기)</h3>
								</span>
								<h3> 2011.03 <i>~</i> 2016.02</h3>
								<div class="list-group list-group-flush mt-30">
									정보통신과 졸업 
								</div>
							</div>
						</div>
					</div>
					<!-- 대학교 -->
					
					<!-- 고등학교 -->
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>
									<h3>부천공업고등학교</h3>
								</span>
								<h3> 2009.02 <i>~</i> 2011.03</h3>
								<div class="list-group list-group-flush mt-30">
									전문(실업)계 (통신과) 졸업
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Education and -->
			
			<!-- external Activities Start --> 
			<div class="education" id="external">
				<div class="content-inner">
					<div class="content-header">
						<h2>EXTERNAL ACTIVITIES</h2>
					</div>
					<p>교육이수</p>
					<!-- 한국소프트웨어 기술훈련 -->
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>
									<h3>한국소프트웨어 기술훈련</h3>
								</span>
								<h3> 2019.01 <i>~</i> 2020.01</h3>
								<div class="list-group list-group-flush mt-30">
									응용SW엔지니어링_SW개발_L5_ver2.0
								</div>
								
							</div>
						</div>
					</div>
					
					<!-- KH정보 교육원 -->
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>
									<h3>KH 정보교육원</h3>
								</span>
								<h3> 2018.04 <i>~</i> 2018.11</h3>
								<div class="list-group list-group-flush mt-30">
									[NCS]웹개발 응용 SW 엔지니어 양성과정 교육
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- external Activities end --> 
			
			<!-- Skills Start -->
			<div class="education" id="skills">
				<div class="content-inner">
					<div class="content-header">
						<h2>SKILLS</h2>
					</div>
					<p>보유스킬</p>
					<div class="row align-items-center">
						<table class="table">
							<thead>
								<tr style="text-align: center;">
									<th scope="col">구분</th>
									<th scope="col">SKILL</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Languages</td>
									<td>JavaScript(ES5), Java(1.8~), HTML5, CSS, Mybatis </td>
								</tr>
								<tr>
									<td>Framework</td>
									<td>Spring Framework, Spring Boot, MSA, 전자정부프레임워크 </td>
								</tr>
								<tr>
									<td>Library</td>
									<td>Bootstrap, jQuery </td>
								</tr>
								<tr>
									<td>Server</td>
									<td>Tomcat9, AWS(EC2, Route 53) </td>
								</tr>
								<tr>
									<td>Tools</td>
									<td>SVN, Git </td>
								</tr>
								<tr>
									<td>OS</td>
									<td>Linux, Windows</td>
								</tr>
								<tr>
									<td>Database</td>
									<td>MySQL, PostgreSQL, H2 Database</td>
								</tr>
								<tr>
									<td>Build</td>
									<td>Jenkins Server, Ant</td>
								</tr>
								<tr>
									<td>Etc</td>
									<td>Notion, Redmine</td>
								</tr>
								<tr>
									<td>MAP</td>
									<td>OpenLayers, kakaoAPI</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- skills  and -->
			
			<!-- projects Start -->
			<div class="education" id="projects">
				<div class="content-inner">
					<div class="content-header">
						<h2>PROJECT</h2>
					</div>
					<p>프로젝트 대한 설명입니다.</p>
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>
									<h3><a href="#" onclick="window.open('http://lxrdip.iptime.org/pgeRqst.do?jsp=changeInfo/lxrControlMap', 'LX 디지털 SOC 플랫폼','width=#, height=#'); return false">LX 디지털 SOC 플랫폼</a></h3>
								</span>
								<h3> 2023.06 <i>~</i> 2023.12(7개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>배경지도 표출 (WMS/WFS): 지도 표시 기능</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>배경지도 도로 공사 차량 위치의 동적 애니메이션 생성</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>배경지도 도로공사 데이터를 지도 표시 기능 (Point, LineString, MultiPolygon, Market, Overlay)</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>도로정보 주소 검색 기능 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>도로정보 수집데이터 목록화 기능 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>도로변화정보 통계화하고 시각화하는 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>RCIC 고속도로 공사 정보 OpenApi 외부 데이터와 연동하여 지도에 표시</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>ITS 고속도로 CCTV 정보 OpenApi 외부 데이터와 연동하여 지도에 표시</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>도로변화 데이터 서비스 및 일정 관리</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>표준 단어 화면 개발: 데이터 표준화를 위한 화면</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>표준 용어 화면 개발: 데이터 용어 표준화를 위한 화면</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>표준 도메인 화면 개발: 데이터 도메인 표준화를 위한 화면</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>표준 코드 화면 개발: 데이터 코드 표준화를 위한 화면</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>데이터 접근 권한: 데이터 보안 및 접근 권한 관리</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>메타데이터 매핑 정보 조회 (DCAT, SCHEMA.ORG): 메타데이터 관리와 외부 표준과의 매핑 정보 조회</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows, Linux</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: PostgreSQL</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9, GeoServer</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: eGovframework (전자정부프레임워크)</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>GIS: OpenLayers</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Build: jenkins Server</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>헙업: Slack</button>
								</div>
							</div>
							<div class="edu-col">
								<span>
									<h3><a href="#" onclick="window.open('https://jadurang.kr/valkona/m/map', '자두잇','width=#, height=#'); return false">JADOIT(부동산가치평가)</a></h3>
								</span>
								<h3> 2021.01 <i>~</i> 2023.01(2년1개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled> 자두 회원가입 및 핸드폰 인증 프로세스 개발 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled> KONAI, 자두 회원 여부에 따라 로그인 처리 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled> 마이페이지(비회원, 회원) 개인정보 보안 강화를 위한 REST API 인증 절차 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled> KONAI 계좌 잔액 조회 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled> 리포트 결제 내역 조회 및 리포트 다운로드 UI 개발 (clipsoft API 연동)</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>주소 검색 (카테고리(아파트, 연립/다세대, 토지), 동, 호) 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>주소 기반 건물 등기부등본 조회 및 이미지 데이터 관리 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>주소 링크 공유 개발 (Android 협업)</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>부동산 리포트 샘플 다운로드 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>주소 데이터 및 웹 데이터 크롤링 관리 기능 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>부동산 전문가 칼럼 (건축 및 부동산 관련 전문가 인터뷰 내용) 게시판 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>구글플레이 스토어 앱 관리 및 JADOIT 유지보수</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows, Linux</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: PostgreSQL, h2 database</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9, GeoServer</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: SpringToolSuite, MSA</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Reporting: clipsoft</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>GIS: Kakao Maps API</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Build: jenkins Server, Ant</button>
								</div>
							</div>
						</div>
						
						<div>
							<div class="edu-col">
								<span>
									<h3><a href="#" onclick="window.open('https://www.jadurang.kr/com/mainframe', '데이터플랫폼','width=#, height=#'); return false">DATASHOP</a></h3>
								</span>
								<h3> 2020.08 <i>~</i> 2020.12 (5개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled>주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>데이터 플랫폼 이용약관 관리 기능 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>데이터 플랫폼 공공포털사이트, KONAI(민간) 데이터 조회 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>웹 크롤링 편의성 위한 관리자 인터페이스 및 디자인 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>데이터 크롤링 프로세스 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>데이터 플랫폼 개발 및 유지보수</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows, Linux</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: PostgreSQL</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: SpringToolSuite, MSA</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Webdriver: Selenium</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Build: jenkins Server, Ant</button>
								</div>
							</div>
						</div>
						
						<div>
							<div class="edu-col">
								<span>
									<h3>ACROPOLIS SG 플랫폼 재편 MSA 아키텍처 기반</h3>
								</span>
								<h3> 2020.01 <i>~</i> 2020.07 (7개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled>주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>그룹 관리자, 사용자 편의성 개선</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>그룹 게시판 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>그룹 권한관리 화면 개발</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: Mariadb</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: SpringToolSuite, MSA</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis </button>
								</div>
							</div>
						</div>
						
						<div>
							<div class="edu-col">
								<span>
									<h3>ACROPOLIS SG 플랫폼 고도화</h3>
								</span>
								<h3> 2019.08 <i>~</i> 2019.11 (4개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled>주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>그룹 관리자, 사용자 편의성 개선</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>그룹 게시판 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>그룹 권한관리 화면 개발</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: Mariadb</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: SpringToolSuite, MSA</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis </button>
								</div>
							</div>
						</div>
						
						<div>
							<div class="edu-col">
								<span>
									<h3>연구과제 건축연구사업(성대/시립대/성균)</h3>
								</span>
								<h3> 2019.07 <i>~</i> 2019.08 (2개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled>주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>COBie.excel 파일(성대/시립대/성균)을 파싱하여 DB 적재 기능 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>건물 유지 보수 관리자 메인 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>건물 유지 보수 사용자 메인 화면 개발</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: Mariadb</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: SpringToolSuite, MSA</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis </button>
								</div>
							</div>
						</div>
						
						
						<div>
							<div class="edu-col">
								<span>
									<h3><a href="#" onclick="window.open('https://nspace24.com/', 'Nspace','width=#, height=#'); return false">Nspace24 솔루션</a></h3>
								</span>
								<h3> 2019.02 <i>~</i> 2019.07 (6개월) </h3>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled>주요 업무 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>회원 가입시 분기 처리 프로세스 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>관리자 채널 현황 관리</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>나의 요금제 메인 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>내 정보관리 메인화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>사용자 파일 공유 메인 화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>휴지통(파일)관리 메인화면 개발</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>공지사항 메인화면 개발</button>
								</div>
								
								<div class="list-group list-group-flush mt-30">
									<button type="button" class="list-group-item list-group-item-action active" disabled> 개발환경 </button>
									<button type="button" class="list-group-item list-group-item-action" disabled>OS: Windows</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Databases: Mariadb</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Server: Tomcat9</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Framework: SpringToolSuite, MSA</button>
									<button type="button" class="list-group-item list-group-item-action" disabled>Language: Java 1.8, Html5, CSS, JavaScript, Jquery, Mybatis </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- projects and -->

			<!-- career Start -->
			<div class="review" id="career">
				<div class="content-inner">
					<div class="content-header">
						<h2>CAREER</h2>
					</div>
					<p>경력</p>
					<div class="row align-items-center">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">회사</th>
									<th scope="col">근무기간</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>(주)지오앤 (개발팀)</td>
									<td>2023.06 <i> ~ </i> 2023.12(7개월)</td>
								</tr>
								<tr>
									<td>씨케이인포 (정보기술 연구소)</td>
									<td>2018.12 <i> ~ </i> 2023.01 (4년 2개월)</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- career End -->

			<!-- Service Start -->
<!-- 			<div class="service" id="service"> -->
<!-- 				<div class="content-inner"> -->
<!-- 					<div class="content-header"> -->
<!-- 						<h2>SERVICE</h2> -->
<!-- 					</div> -->
<!-- 					<div class="row align-items-center"> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="srv-col"> -->
<!-- 								<i class="fa fa-desktop"></i> -->
<!-- 								<h3> -->
<!-- 									<a href="#" onclick="window.open('https://jadurang.kr/valkona/m/map', '자두잇','width=#, height=#'); return false">자두 (부동산가치평가)</a> -->
<!-- 								</h3> -->
<!-- 								<p>실거래가, 공시가, 경 · 공매가부터 평가금액까지 이제 자두에서 꼼꼼하게 알아보세요.</p> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="srv-col"> -->
<!-- 								<i class="fa fa-desktop"></i> -->
<!-- 								<h3> -->
<!-- 									<a href="#" onclick="window.open('https://www.jadurang.kr/com/mainframe', '데이터플랫폼','width=#, height=#'); return false">데이터플랫폼</a> -->
<!-- 								</h3> -->
<!-- 								<p>데이터샵이 당신을 새로운 삶의 시작으로 이끕니다.</p> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="srv-col"> -->
<!-- 								<i class="fa fa-desktop"></i> -->
<!-- 								<h3> -->
<!-- 									<a href="#" onclick="window.open('https://nspace24.com/', 'Nspace','width=#, height=#'); return false">Nspace솔루션</a> -->
<!-- 								</h3> -->
<!-- 								<p>건축 공간을 창조하는 클라우드 공간, NSPACE로 도면 중심 협업을 경험하세요.</p> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<!-- Service Start -->

			<!-- tistory Start -->
			<div class="review" id="tistory">
				<div class="content-inner">
					<div class="content-header">
						<h2>BLOG</h2>
					</div>
					<div class="row align-items-center review-slider">
						<div class="col-md-12" th:each="post : ${posts}">
							<div class="review-slider-item">
								<div class="review-text">
									<a th:href="@{${post.postUrl}}" target="_blank">
										<p style="display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">[[${post.content}]]</p>
									</a>
								</div>
								<div class="review-img">
									<a th:href="@{${post.postUrl}}" target="_blank"> <img th:src="@{${post.img}}" alt="Blog"></a>
									<div class="review-name">
										<h3>[[${post.title}]]</h3>
										<p>
											[[${post.month}]]월<span>[[${post.day}]]일 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Review End -->

			<!-- Contact Start -->
			<div class="contact" id="contact">
				<div class="content-inner">
					<div class="content-header">
						<h2>CONTACT ME</h2>
					</div>
					<p>자세한 이야기가 필요하다면, 아래 항목을 작성하여 저에게 보내주세요.</p>
					<div id="container">
						<div id="rvWrapper">
							<div id="roadview" style="width: 100%; height: 100%;"></div>
							<!-- 로드뷰를 표시할 div 입니다 -->
							<div id="close" title="로드뷰닫기" onclick="closeRoadview()">
								<span class="img"></span>
							</div>
						</div>
						<div id="mapWrapper">
							<!-- 지도를 표시할 div 입니다 -->
							<div id="map" style="width: 100%; height: 100%"></div>
							<!-- 로드뷰 버튼 -->
							<div id="roadviewControl" onclick="setRoadviewRoad()"></div>
						</div>
					</div>
					<!-- email -->
					<div class="row align-items-center" style="margin-top: 5%;">
						<div class="col-md-12">
							<div class="form">
								<form id="contactForm" onsubmit="sendEmail(); return false">
									<div class="col-lg-12">
										<div class="form-group" style="position: relative;">
											<label for="email">이메일 주소</label>
											<input type="email" name="email" id="email" class="form-control" placeholder="이메일 주소" required data-error="이메일 주소를 입력하세요." aria-describedby="emailHelp">
											<small id="emailHelp" class="form-text text-muted">ex)xxxxx@naver.com</small>
										</div>
										<div class="form-group">
											<label for="message">내용</label>
											<textarea class="form-control" id="message" name="message" rows="6" cols="30" placeholder="내용" required data-error="내용을 입력하세요."></textarea>
										</div>
										<button id="msgSubmit" type="submit" class="btn btn-primary">보내기</button>
										<button id="msgReset" type="button" class="btn btn-primary" onclick="setEmailReset();">초기화</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- email end -->
				</div>
			</div>
			<!-- Contact End -->
			
			<!-- archiving -->
			<div class="archiving" id="archiving">
				<div class="content-inner">
					<div class="content-header">
						<h2>ARCHIVING</h2>
					</div>
					<p>개인활동</p>
					<div class="content-inner">
						<div class="social">
							<a class="btn" title="youtube" onclick="window.open('https://www.youtube.com/@user-mp4hv6hg6q', 'youtube','width=#, height=#'); return false">
								<i class="fab fa-youtube"></i>
							</a> 
							<a class="btn" title="github" onclick="window.open('https://github.com/hyunwoo11/portfolio', 'github','width=#, height=#'); return false">
								<i class="fab fa-github"></i>
							</a>
							<a class="btn" title="tistory" onclick="window.open('https://yeonhyeon.tistory.com', 'tistory','width=#, height=#'); return false">
								<i style="font-style: inherit;">T</i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- archiving End -->
		</div>
	</th:block>
</body>
</html>
