<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/leeLayout}">
<head>
<title>자기소개서</title>
<!-- <th:block layout:fragment="pageCss"></th:block> -->
<!-- <th:block layout:fragment="pageScript"></th:block> -->
</head>
<body>
	<th:block layout:fragment="pageContent">
		<div class="content">
			<!-- Header Start -->
			<div class="header" id="header">
				<div class="content-inner">
					<p>Lee Hyun Woo</p>
					<h1 id=""></h1>
					<h2></h2>
					<div class="typed-text">
						안녕하세요., 
						이현우, 
						포토폴리오에 오신걸, 환영합니다.
						감사합니다.
					</div>

				</div>
			</div>
			<!-- Header End -->

			<!-- Large Button Start -->
			<div class="large-btn">
				<div class="content-inner">
					<a class="btn" href="#" id="lhwCareer"
						onclick="lhwCareerFileDownlod($(this))"> <i
						class="fa fa-download"></i>경력기술서
					</a> <a class="btn" href="#" id="personLhwCareer"
						onclick="lhwCareerFileDownlod($(this))"> <i
						class="fa fa-download"></i>사람인 이력서
					</a>
				</div>
			</div>

			<!-- Large Button End -->

			<!-- About Start -->
			<div class="about" id="about">
				<div class="content-inner">
					<div class="content-header">
						<h2>ABOUT</h2>
					</div>
					<div class="row align-items-center">
						<div class="col-md-6 col-lg-5">
							<img src="/assets/img/main1.jpg" alt="Image">
							<!-- <img src="/assets/img/lhwjapen.jpg" alt="Image"> -->
						</div>
						<div class="col-md-6 col-lg-7">
							<p>
								기록과 공유를 좋아하는 이현우 입니다.<br>
								프론트엔드 개발자를 희망하고 있습니다.<br>
								배운 모든 것을 기록하고 공유하는 것을 좋아합니다.<br>
								공유의 중요성을 잘 알기에 항상 새기고 실천하려고 노력합니다.<br>
							</p>
						</div>
					</div>
<!-- 					<div class="row"> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="skills"> -->
<!-- 								<div class="skill-name"> -->
<!-- 									<p>Java</p> -->
<!-- 									<p>40%</p> -->
<!-- 								</div> -->
<!-- 								<div class="progress"> -->
<!-- 									<div class="progress-bar" role="progressbar" aria-valuenow="40" -->
<!-- 										aria-valuemin="0" aria-valuemax="100"></div> -->
<!-- 								</div> -->
<!-- 								<div class="skill-name"> -->
<!-- 									<p>JavaScript</p> -->
<!-- 									<p>50%</p> -->
<!-- 								</div> -->
<!-- 								<div class="progress"> -->
<!-- 									<div class="progress-bar" role="progressbar" aria-valuenow="50" -->
<!-- 										aria-valuemin="0" aria-valuemax="100"></div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="skills"> -->
<!-- 								<div class="skill-name"> -->
<!-- 									<p>JQuery</p> -->
<!-- 									<p>50%</p> -->
<!-- 								</div> -->
<!-- 								<div class="progress"> -->
<!-- 									<div class="progress-bar" role="progressbar" aria-valuenow="50" -->
<!-- 										aria-valuemin="0" aria-valuemax="100"></div> -->
<!-- 								</div> -->
<!-- 								<div class="skill-name"> -->
<!-- 									<p>Mybatis</p> -->
<!-- 									<p>40%</p> -->
<!-- 								</div> -->
<!-- 								<div class="progress"> -->
<!-- 									<div class="progress-bar" role="progressbar" aria-valuenow="40" -->
<!-- 										aria-valuemin="0" aria-valuemax="100"></div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
			<!-- About End -->

			<!-- career Start -->
			<div class="review" id="career">
				<div class="content-inner">
					<div class="content-header">
						<h2>WORK</h2>
					</div>
					<div class="row align-items-center review-slider">
						<div class="col-md-12">
							<div class="review-slider-item">
								<div class="review-text">
									<div class="review-name">
										<h3>
											2018.12 <i>~</i> 2023.01(4년2개월)
										</h3>
									</div>
									<p>씨케이인포(정보기술 연구소)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Review End -->
			
			<!-- skills Start -->
			<div class="education" id="skills">
				<div class="content-inner">
					<div class="content-header">
						<h2>SKILLS</h2>
					</div>
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<p>
									SVN<br>
									git<br>
									Msa<br>
									Spring Boot<br>
									Spring Framework<br>
									SQL<br>
									MyBatis<br>
									MY-SQL<br>
									PostgreSQL<br>
									Jqgrid<br>
									Ajax<br>
									jQuery<br>
									Maven<br>
									Bootstrap<br>
									JavaScript<br>
									HTML5<br>
									Java<br>
									Linux<br>
									test
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- skills  and -->
			
			<!-- Education Start -->
			<div class="education" id="experience">
				<div class="content-inner">
					<div class="content-header">
						<h2>PROJECT</h2>
					</div>
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>
									<h3>
										2021.01<i>~</i>2023.01(2년1개월)
									</h3>
								</span>
								<h3>AcropolisPD 부동산가치평가</h3>
								<p class="pt-30">
									주요 업무<br> - 자두 회원가입 및 핸드폰 인증 프로세스 개발 <br> - KONAI, 자두
									회원 여부에 따라 로그인 처리 개발 <br> - 마이페이지(비회원, 회원) 개인정보 보안 강화를 위한
									REST API 인증 절차 개발 <br> - KONAI 계좌 잔액 조회 개발 <br> - 리포트
									결제 내역 조회 및 리포트 다운로드 UI 개발 (clipsoft API 연동) <br> - 주소 검색
									(카테고리(아파트, 연립/다세대, 토지), 동, 호) 개발 <br> - 주소 기반 건물 등기부등본 조회
									및 이미지 데이터 관리 개발 <br> - 주소 링크 공유 개발 (Android 협업) <br>
									- 부동산 리포트 샘플 다운로드 개발 <br> - 주소 데이터 및 웹 데이터 크롤링 관리 기능 개발 <br>
									- 부동산 전문가 칼럼 (건축 및 부동산 관련 전문가 인터뷰 내용) 게시판 개발 <br> - 구글플레이
									스토어 앱 관리 및 JADOIT 유지보수
								</p>
								<p class="pt-30">
									개발환경 <br> Operating System: Windows, Linux <br>
									Databases: PostgreSQL12, h2 database <br> Servers:
									Tomcat9, GeoServer, jenkinsServer <br> Framework:
									SpringToolSuite, Msa <br> Programming languages: Java 1.8,
									HTML5, CSS, JavaScript, JQuery, Mybatis <br> Webdriver:
									Selenium <br> Reporting: clipsoft <br> GIS: Kakao
									Maps API
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>
									<h3>
										2020.08 <i>~</i> 2020.12 (5개월)
									</h3>
								</span>
								<h3>AcropolisPD 데이터플랫폼</h3>
								<p class="pt-30">
									주요 업무<br> - 데이터 플랫폼 이용약관 관리 기능 개발<br> - 데이터 플랫폼
									공공포털사이트, KONAI(민간) 데이터 조회 화면 개발 <br> - 웹 크롤링 편의성 위한 관리자
									인터페이스 및 디자인 개발 <br> - 데이터 크롤링 프로세스 개발 <br> - 데이터 플랫폼
									개발 및 유지보수
								</p>
								<p class="pt-30">
									개발환경 <br> Operating System: Windows, Linux <br>
									Databases: PostgreSQL <br> Server: Tomcat9 <br>
									Framework: SpringToolSuite , Msa <br> Language: Java 1.8 ,
									Html5, Css, JavaScript , Jquery, Mybatis <br> Webdriver:
									Selenium <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>
									<h3>
										2020.01 <i>~</i> 2020.07 (7개월)
									</h3>
								</span>
								<h3>ACROPOLISSG 플랫폼 재편 MSA 아키텍처 기반</h3>
								<p class="pt-30">
									주요 업무<br> - 그룹 관리자, 사용자 편의성 개선<br> - 그룹 게시판 화면 개발<br>
									- 그룹권한관리 화면 개발
								</p>
								<p class="pt-30">
									개발환경 <br> Operating System: Windows <br> Databases:
									Mariadb <br> Servers: Tomcat9 <br> Framework:
									SpringToolSuite, Msa <br> Language: Java 1.8 , Html5, Css,
									JavaScript , Jquery, Mybatis <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>
									<h3>
										2019.08 <i>~</i> 2019.11 (4개월)
									</h3>
								</span>
								<h3>ACROPOLIS SG 플랫폼 고도화</h3>
								<p class="pt-30">
									주요 업무<br> - 그룹 관리자, 사용자 편의성 개선<br> - 그룹 게시판 화면 개발<br>
									- 그룹권한관리 화면 개발
								</p>
								<p class="pt-30">
									개발환경 <br> Operating System: Windows <br> Databases:
									Mariadb <br> Servers: Tomcat9 <br> Framework:
									SpringToolSuite, Msa <br> Language: Java 1.8 , Html5, Css,
									JavaScript , Jquery, Mybatis <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>
									<h3>
										2019.07 <i>~</i> 2019.08 (2개월)
									</h3>
								</span>
								<h3>연구과제 건축연구사업(성대/시립대/성균)</h3>
								<p class="pt-30">
									주요 업무<br> - COBie.excel 파일(성대/시립대/성균)을 파싱하여 DB 적재 기능 개발 <br>
									- 건물 유지 보수 관리자 메인 화면 개발 <br> - 건물 유지 보수 사용자 메인 화면 개발
								</p>
								<p class="pt-30">
									개발환경 <br> Operating System: Window <br> Databases:
									MongoDB <br> Server: Tomcat9 <br> Framework: Spring
									Boot <br> Language: Java 1.8 , Html5, Css, JavaScript ,
									Jquery, Mybatis <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>
									<h3>
										2019.02 <i>~</i> 2019.07 (6개월)
									</h3>
								</span>
								<h3>Nspace솔루션</h3>
								<p class="pt-30">
									주요 업무<br> - 회원 가입시 분기 처리 프로세스 개발 <br> - 관리자 채널 현황 관리
									개발 <br> - 나의 요금제 메인 화면 개발 <br> - 내 정보관리 메인화면 개발<br>
									- 사용자 파일 공유 메인 화면 개발 <br> - 휴지통(파일)관리 메인화면 개발<br> -
									공지사항 메인화면 개발
								</p>
								<p class="pt-30">
									개발환경 <br> Operating System: Window <br> Databases:
									Mariadb <br> Server: Tomcat9 <br> Framework: Spring
									Boot <br> Language: Java 1.8 , Html5, Css, JavaScript ,
									Jquery , Mybatis <br>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Education and -->

			<!-- Service Start -->
			<div class="service" id="service">
				<div class="content-inner">
					<div class="content-header">
						<h2>SERVICE</h2>
					</div>
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="srv-col">
								<i class="fa fa-desktop"></i>
								<h3>
									<a href="#"
										onclick="window.open('https://jadurang.kr/valkona/m/map', '자두잇','width=#, height=#'); return false">자두
										(부동산가치평가)</a>
								</h3>
								<p>실거래가, 공시가, 경 · 공매가부터 평가금액까지 이제 자두에서 꼼꼼하게 알아보세요.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="srv-col">
								<i class="fa fa-desktop"></i>
								<h3>
									<a href="#"
										onclick="window.open('https://www.jadurang.kr/com/mainframe', '데이터플랫폼','width=#, height=#'); return false">데이터플랫폼</a>
								</h3>
								<p>데이터샵이 당신을 새로운 삶의 시작으로 이끕니다.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="srv-col">
								<i class="fa fa-desktop"></i>
								<h3>
									<a href="#"
										onclick="window.open('https://nspace24.com/', 'Nspace','width=#, height=#'); return false">Nspace솔루션</a>
								</h3>
								<p>건축 공간을 창조하는 클라우드 공간 , NSPACE로 도면 중심 협업을 경험하세요.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Service Start -->

			<!-- tistory Start -->
			<div class="review" id="review">
				<div class="content-inner">
					<div class="content-header">
						<h2>TISTOEY BLOG</h2>
					</div>
					<div class="row align-items-center review-slider">
						<div class="col-md-12" th:each="post : ${posts}">
							<div class="review-slider-item">
								<div class="review-text">
									<a th:href="@{${post.postUrl}}" target="_blank">
										<p style="display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">[[${post.content}]]</p>
									</a>
								</div>
								<div class="review-img">
									<a th:href="@{${post.postUrl}}" target="_blank"> <img
										th:src="@{${post.img}}" alt="Blog">
									</a>
									<div class="review-name">
										<h3>[[${post.title}]]</h3>
										<p>
											[[${post.month}]]월<span>[[${post.day}]]일 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Review End -->

			<!-- Contact Start -->
			<div class="contact" id="contact">
				<div class="content-inner">
					<div class="content-header">
						<h2>이메일로 연락하기</h2>
						<p>자세한 이야기가 필요하다면, 아래 항목을 작성하여 저에게 보내주세요.</p>
					</div>
					<div id="container">
						<div id="rvWrapper">
							<div id="roadview" style="width: 100%; height: 100%;"></div>
							<!-- 로드뷰를 표시할 div 입니다 -->
							<div id="close" title="로드뷰닫기" onclick="closeRoadview()">
								<span class="img"></span>
							</div>
						</div>
						<div id="mapWrapper">
							<!-- 지도를 표시할 div 입니다 -->
							<div id="map" style="width: 100%; height: 100%"></div>
							<!-- 로드뷰 버튼 -->
							<div id="roadviewControl" onclick="setRoadviewRoad()"></div>
							<!-- 거리계산 버튼 -->
						</div>
					</div>

					<div class="social">
						<a class="btn" id="chkUseDistrict" onclick="setOverlayMapTypeId($(this).attr('id'))">
							<i class="">지적</i>
						</a>
						<a class="btn" id="chkTerrain" onclick="setOverlayMapTypeId($(this).attr('id'))">
							<i class="">지형</i>
						</a>
						<a class="btn" id="chkTraffic" onclick="setOverlayMapTypeId($(this).attr('id'))">
							<i class="">교통</i>
						</a>
						<a class="btn" id="chkBicycle" style="width: 48px;" onclick="setOverlayMapTypeId($(this).attr('id'))">
							<i class="">자전거</i>
						</a>
					</div>

					<div class="row align-items-center" style="margin-top: 5%;">
						<div class="col-md-6">
							<div class="contact-info">
								<p>
									<i class="fa fa-user"></i>이현우
								</p>
								<p>
									<i class="fa fa-tag"></i>Web Developer
								</p>
								<p>
									<i class="fa fa-envelope"></i><a
										href="mailto:dldjsl2@naver.com">dldjsl2@naver.com</a>
								</p>
								<p>
									<i class="fa fa-phone"></i><a href="tel:+01068660741">010-6866-0741</a>
								</p>
								<p>
									<i class="fa fa-map-marker"></i>경기도 부천시 경인로3번길 24 (우)1473
								</p>
								<div class="social">
									<a class="btn" href="" onclick="window.open('https://www.youtube.com/@user-mp4hv6hg6q', 'youtube','width=#, height=#'); return false">
										<i class="fab fa-youtube"></i>
									</a>
									<a class="btn" href="" onclick="window.open('https://github.com/hyunwoo11/portfolio', 'github','width=#, height=#'); return false">
										<i class="fab fa-github"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- email -->
						<div class="col-md-6">
							<div class="form">
								<form id="contactForm" onsubmit="sendEmail();return false">
									<div class="col-lg-12">
										<form id="contactForm" onsubmit="sendEmail(); return false">
											<div class="form-group">
												<input type="email" name="email" id="email"
													class="form-control" placeholder="이메일 주소" required
													data-error="이메일 주소를 입력하세요.">
												<div class="help-block with-errors"></div>
											</div>
											<div class="form-group">
												<textarea name="message" class="form-control" id="message"
													cols="30" rows="6" placeholder="내용" required
													data-error="내용을 입력하세요."></textarea>
												<div class="help-block with-errors"></div>
											</div>
											<button type="submit" id="btn_sendEmail"
												class="btn common-btn three">
												보내기 <span></span>
											</button>
											<div id="msgSubmit" class="h3 text-center hidden"></div>
											<div class="clearfix"></div>
										</form>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Contact End -->
		</div>
	</th:block>
</body>
</html>