<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/leeLayout}">
<head>
<title>자기소개서</title>
<!-- <th:block layout:fragment="pageCss"></th:block> -->
<!-- <th:block layout:fragment="pageScript"></th:block> -->
</head>
<body>
	<th:block layout:fragment="pageContent">
		<div class="content">
			<!-- Header Start -->
			<div class="header" id="header">
				<div class="content-inner">
					<p>Lee Hyun Woo</p>
					<h1 id=""></h1>
					<h2></h2>
					<div class="typed-text">Web Designer, Backend Developer,
						Front End Developer,</div>
				</div>
			</div>
			<!-- Header End -->

			<!-- Large Button Start -->
			<div class="large-btn">
				<div class="content-inner">
					<a class="btn" href="#" id="lhwCareer"
						onclick="lhwCareerFileDownlod($(this))"> <i
						class="fa fa-download"></i>경력기술서
					</a> <a class="btn" href="#" id="personLhwCareer"
						onclick="lhwCareerFileDownlod($(this))"> <i
						class="fa fa-download"></i>사람인 이력서
					</a>
				</div>
			</div>

			<!-- Large Button End -->

			<!-- About Start -->
			<div class="about" id="about">
				<div class="content-inner">
					<div class="content-header">
						<h2>소개</h2>
					</div>
					<div class="row align-items-center">
						<div class="col-md-6 col-lg-5">
							<img src="/assets/img/lhwjapen.jpg" alt="Image">
						</div>
						<div class="col-md-6 col-lg-7">
							<p>항상 즐겁고 재미있는 개발을 하고싶은 개발자 입니다. 부천에서 거주하고 있으며, 자전거 및 여행하는 것을
								좋아합니다. 저에 대한 자세한 정보가 궁금하다면 아래로 스크롤 해주세요.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="skills">
								<div class="skill-name">
									<p>Java</p>
									<p>40%</p>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="40"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="skill-name">
									<p>JavaScript</p>
									<p>50%</p>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="50"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="skills">
								<div class="skill-name">
									<p>JQuery</p>
									<p>50%</p>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="50"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="skill-name">
									<p>Mybatis</p>
									<p>40%</p>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="40"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About End -->

			<!-- career Start -->
			<div class="review" id="career">
				<div class="content-inner">
					<div class="content-header">
						<h2>경력사항</h2>
					</div>
					<div class="row align-items-center review-slider">
						<div class="col-md-12">
							<div class="review-slider-item">
								<div class="review-text">
									<p>씨케이인포</p>
									<div class="review-name">
										<h3>2018.12 - 2023.01(4년2개월)</h3>
									</div>
									<p>
									<h4>정보기술 연구소</h4>
									</p>
								</div>
							</div>

						</div>
						<!-- 						<div class="col-md-12"> -->
						<!-- 							<div class="review-slider-item"> -->
						<!-- 								<div class="review-text"> -->
						<!-- 									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
						<!-- 										Sed eu suscipit orci. Donec molestie velit id libero blandit, -->
						<!-- 										quis suscipit urna suscipit. Donec aliquet erat eu lacinia -->
						<!-- 										iaculis. Ut tempor tellus eu sem pharetra feugiat.</p> -->
						<!-- 								</div> -->
						<!-- 								<div class="review-img"> -->
						<!-- 									<img src="/img/review-2.jpg" alt="Image"> -->
						<!-- 									<div class="review-name"> -->
						<!-- 										<h3>Client Name</h3> -->
						<!-- 										<p>Profession</p> -->
						<!-- 									</div> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<!-- 						<div class="col-md-12"> -->
						<!-- 							<div class="review-slider-item"> -->
						<!-- 								<div class="review-text"> -->
						<!-- 									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
						<!-- 										Sed eu suscipit orci. Donec molestie velit id libero blandit, -->
						<!-- 										quis suscipit urna suscipit. Donec aliquet erat eu lacinia -->
						<!-- 										iaculis. Ut tempor tellus eu sem pharetra feugiat.</p> -->
						<!-- 								</div> -->
						<!-- 								<div class="review-img"> -->
						<!-- 									<img src="/img/review-3.jpg" alt="Image"> -->
						<!-- 									<div class="review-name"> -->
						<!-- 										<h3>Client Name</h3> -->
						<!-- 										<p>Profession</p> -->
						<!-- 									</div> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
					</div>
				</div>
			</div>
			<!-- Review End -->


			<!-- Education Start -->
			<div class="education" id="experience">
				<div class="content-inner">
					<div class="content-header">
						<h2>프로젝트</h2>
					</div>
					<div class="row align-items-center">
						<div>
							<div class="edu-col">
								<span>2021 - 01 <i>to</i> 2023 - 01 (2년 1개월)
								</span>
								<h3>AcropolisPD 부동산가치평가</h3>
								<p>
									주요 업무<br> - 자두 회원가입 및 핸드폰 인증 프로세스 개발 <br> - KONAI, 자두
									회원 여부에 따라 로그인 처리 개발 <br> - 마이페이지(비회원, 회원) 개인정보 보안 강화를 위한
									REST API 인증 절차 개발 <br> - KONAI 계좌 잔액 조회 개발 <br> - 리포트
									결제 내역 조회 및 리포트 다운로드 UI 개발 (clipsoft API 연동) <br> - 주소 검색
									(카테고리(아파트, 연립/다세대, 토지), 동, 호) 개발 <br> - 주소 기반 건물 등기부등본 조회
									및 이미지 데이터 관리 개발 <br> - 주소 링크 공유 개발 (Android 협업) <br>
									- 부동산 리포트 샘플 다운로드 개발 <br> - 주소 데이터 및 웹 데이터 크롤링 관리 기능 개발 <br>
									- 부동산 전문가 칼럼 (건축 및 부동산 관련 전문가 인터뷰 내용) 게시판 개발 <br> - 구글플레이
									스토어 앱 관리 및 JADOIT 유지보수 <br> <br> 개발환경 <br>
									Operating System: Windows, Linux <br> Databases:
									PostgreSQL12, h2 database <br> Servers: Tomcat9,
									GeoServer, jenkinsServer <br> Frameworks: SpringToolSuite,
									Msa <br> Programming languages: Java 1.8, HTML5, CSS,
									JavaScript, JQuery, Mybatis <br> Webdriver: Selenium <br>
									Reporting: clipsoft <br> GIS: Kakao Maps API <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>2020 - 08 <i>to</i> 2020 - 12 (5개월)
								</span>
								<h3>AcropolisPD 데이터플랫폼</h3>
								<p>
									주요 업무<br> - 데이터 플랫폼 이용약관 관리 기능 개발<br> - 데이터 플랫폼
									공공포털사이트, KONAI(민간) 데이터 조회 화면 개발 <br> - 웹 크롤링 편의성 위한 관리자
									인터페이스 및 디자인 개발 <br> - 데이터 크롤링 프로세스 개발 <br> - 데이터 플랫폼
									개발 및 유지보수 <br> <br> 개발환경 <br> Operating System:
									Windows, Linux <br> Databases: PostgreSQL <br>
									Server: Tomcat9 <br> Framework: SpringToolSuite , Msa <br>
									Language: Java 1.8 , Html5, Css, JavaScript , Jquery, Mybatis <br>
									Webdriver: Selenium <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>2020 - 01 <i>to</i> 2020 - 07 (7개월)
								</span>
								<h3>ACROPOLISSG 플랫폼 재편 MSA 아키텍처 기반</h3>
								<p>
									주요 업무<br> - 그룹 관리자, 사용자 편의성 개선<br> - 그룹 게시판 화면 개발<br>
									- 그룹권한관리 화면 개발<br> <br> 개발환경 <br> Operating
									System: Windows <br> Databases: Mariadb <br> Servers:
									Tomcat9 <br> Frameworks: SpringToolSuite, Msa <br>
									Language: Java 1.8 , Html5, Css, JavaScript , Jquery, Mybatis <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>2019 - 08 <i>to</i> 2019 - 11 (4개월)
								</span>
								<h3>ACROPOLIS SG 플랫폼 고도화</h3>
								<p>
									주요 업무<br> - 그룹 관리자, 사용자 편의성 개선<br> - 그룹 게시판 화면 개발<br>
									- 그룹권한관리 화면 개발<br> <br> 개발환경 <br> Operating
									System: Windows <br> Databases: Mariadb <br> Servers:
									Tomcat9 <br> Frameworks: SpringToolSuite, Msa <br>
									Language: Java 1.8 , Html5, Css, JavaScript , Jquery, Mybatis <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>2019 - 07 <i>to</i> 2019 - 08 (2개월)
								</span>
								<h3>연구과제 건축연구사업(성대/시립대/성균)</h3>
								<p>
									주요 업무<br> - COBie.excel 파일(성대/시립대/성균)을 파싱하여 DB 적재 기능 개발 <br>
									- 건물 유지 보수 관리자 메인 화면 개발 <br> - 건물 유지 보수 사용자 메인 화면 개발 <br>
									<br> 개발환경 <br> Operating System: Window <br>
									Databases: MongoDB <br> Server: Tomcat9 <br>
									Framework: Spring Boot <br> Language: Java 1.8 , Html5,
									Css, JavaScript , Jquery, Mybatis <br>
								</p>
							</div>
						</div>
						<div>
							<div class="edu-col">
								<span>2019 - 02 <i>to</i> 2019 - 07 (6개월)
								</span>
								<h3>Nspace솔루션</h3>
								<p>
									주요 업무<br> - 회원 가입시 분기 처리 프로세스 개발 <br> - 관리자 채널 현황 관리
									개발 <br> - 나의 요금제 메인 화면 개발 <br> - 내 정보관리 메인화면 개발<br>
									- 사용자 파일 공유 메인 화면 개발 <br> - 휴지통(파일)관리 메인화면 개발<br> -
									공지사항 메인화면 개발<br> <br> 개발환경 <br> Operating
									System: Window <br> Databases: Mariadb <br> Server:
									Tomcat9 <br> Framework: Spring Boot <br> Language:
									Java 1.8 , Html5, Css, JavaScript , Jquery , Mybatis <br>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Education and -->

			<!-- Service Start -->
			<div class="service" id="service">
				<div class="content-inner">
					<div class="content-header">
						<h2>운영 웹 사이트</h2>
					</div>
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="srv-col">
								<i class="fa fa-desktop"></i>
								<h3>
									<a href="https://jadurang.kr/valkona/m/map">자두 (부동산가치평가)</a>
								</h3>
								<p>실거래가, 공시가, 경 · 공매가부터 평가금액까지 이제 자두에서 꼼꼼하게 알아보세요.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="srv-col">
								<i class="fa fa-desktop"></i>
								<h3>
									<a href="https://www.jadurang.kr/com/mainframe">데이터플랫폼</a>
								</h3>
								<p>데이터샵이 당신을 새로운 삶의 시작으로 이끕니다.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="srv-col">
								<i class="fa fa-desktop"></i>
								<h3>
									<a href="https://nspace24.com/">Nspace솔루션</a>
								</h3>
								<p>건축 공간을 창조하는 클라우드 공간 , NSPACE로 도면 중심 협업을 경험하세요.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Service Start -->

			<!-- 개인생활 Start -->
			<div class="portfolio" id="hobby">
				<div class="content-inner">
					<div class="content-header">
						<h2>개인활동</h2>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul id="portfolio-flters">
								<li data-filter="*" class="filter-active"
									onclick="personalLife('all');">All</li>
								<li data-filter=".web-des" onclick="personalLife('bicycle');">자전거</li>
								<li data-filter=".web-dev" onclick="personalLife('travel');">여행</li>
								<li data-filter=".dig-mar" onclick="personalLife('fishbowl');">물생활</li>
							</ul>
						</div>
					</div>
					<div id="getImgDiv"></div>
					<!-- 					<div class="row portfolio-container" id="getImgDiv"> -->
					<!-- 						<div class="col-lg-4 col-md-6 portfolio-item web-des" id= "getImgDiv"> -->
					<!-- 							<div class="portfolio-wrap" th:each="getImgList : ${getImgList}"> -->
					<!-- 								<figure> -->
					<!-- 									<img src="/assets/img/portfolio-2.jpg" class="img-fluid" alt=""> -->
					<!-- 									<a href="/img/portfolio-2.jpg" class="link-preview" -->
					<!-- 										data-lightbox="portfolio" data-title="Project Name" -->
					<!-- 										title="Preview"> <i class="fa fa-eye"></i> -->
					<!-- 									</a> -->
					<!-- 									<a href="#" class="link-details" title="More Details"> <i -->
					<!-- 										class="fa fa-link"></i> -->
					<!-- 									</a> -->
					<!-- 									<a class="portfolio-title" href="#">ttttttttttttttttttttt <span>tdasdasdasdasdasd</span> -->
					<!-- 									</a> -->
					<!-- 								</figure> -->
					<!-- 							</div> -->
					<!-- 						</div> -->

					<!-- 						<div class="col-lg-4 col-md-6 portfolio-item web-dev"> -->
					<!-- 							<div class="portfolio-wrap"> -->
					<!-- 								<figure> -->
					<!-- 									<img src="/assets/img/portfolio-3.jpg" class="img-fluid" alt=""> -->
					<!-- 									<a href="/img/portfolio-3.jpg" class="link-preview" -->
					<!-- 										data-lightbox="portfolio" data-title="Project Name" -->
					<!-- 										title="Preview"><i class="fa fa-eye"></i></a> -->
					<!-- 									<a href="#" class="link-details" title="More Details"><i -->
					<!-- 										class="fa fa-link"></i></a> -->
					<!-- 									<a class="portfolio-title" href="#">Project Name3 <span>Web -->
					<!-- 											Development</span></a> -->
					<!-- 								</figure> -->
					<!-- 							</div> -->
					<!-- 						</div> -->

					<!-- 						<div class="col-lg-4 col-md-6 portfolio-item dig-mar"> -->
					<!-- 							<div class="portfolio-wrap"> -->
					<!-- 								<figure> -->
					<!-- 									<img src="/assets/img/portfolio-5.jpg" class="img-fluid" alt=""> -->
					<!-- 									<a href="/img/portfolio-5.jpg" class="link-preview" -->
					<!-- 										data-lightbox="portfolio" data-title="Project Name" -->
					<!-- 										title="Preview"><i class="fa fa-eye"></i></a> -->
					<!-- 									<a href="#" class="link-details" title="More Details"><i -->
					<!-- 										class="fa fa-link"></i></a> -->
					<!-- 									<a class="portfolio-title" href="#">Project Name5 <span>Digital -->
					<!-- 											Marketing</span></a> -->
					<!-- 								</figure> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
				</div>
			</div>
			<!-- 개인 활동 and -->

			<!-- tistory Start -->
			<div class="review" id="review">
				<div class="content-inner">
					<div class="content-header">
						<h2>최신 티스토리 글</h2>
					</div>
					<div class="row align-items-center review-slider">
						<div class="col-md-12" th:each="post : ${posts}">
							<div class="review-slider-item">
								<div class="review-text">
									<a th:href="@{${post.postUrl}}" target="_blank">
										<p style="display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">[[${post.content}]]</p>
									</a>
								</div>
								<div class="review-img">
									<a th:href="@{${post.postUrl}}" target="_blank"> <img
										th:src="@{${post.img}}" alt="Blog">
									</a>
									<div class="review-name">
										<h3>[[${post.title}]]</h3>
										<p>
											[[${post.month}]]월<span>[[${post.day}]]일
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Review End -->

			<!-- Contact Start -->
			<div class="contact" id="contact">
				<div class="content-inner">
					<div class="content-header">
						<h2>이메일로 연락하기</h2>
						<p>자세한 이야기가 필요하다면, 아래 항목을 작성하여 저에게 보내주세요.</p>
					</div>
					<h2>위치</h2>
					<div id="container">
						<div id="rvWrapper">
							<div id="roadview" style="width: 100%; height: 100%;"></div>
							<!-- 로드뷰를 표시할 div 입니다 -->
							<div id="close" title="로드뷰닫기" onclick="closeRoadview()">
								<span class="img"></span>
							</div>
						</div>
						<div id="mapWrapper">
							<!-- 지도를 표시할 div 입니다 -->
							<div id="map" style="width: 100%; height: 100%"></div>
							<!-- 로드뷰 버튼 -->
							<div id="roadviewControl" onclick="setRoadviewRoad()" class="active"></div>
							<!-- 거리계산 버튼 -->
						</div>
					</div>

					<div style="margin: 25px;">
						<p>
							<input type="checkbox" id="chkUseDistrict" onclick="setOverlayMapTypeId()" /> 지적편집도 정보 보기
							<input type="checkbox" id="chkTerrain" onclick="setOverlayMapTypeId()" /> 지형정보 보기 
							<input type="checkbox" id="chkTraffic" onclick="setOverlayMapTypeId()" /> 교통정보 보기       
							<input type="checkbox" id="chkBicycle" onclick="setOverlayMapTypeId()" /> 자전거도로 정보 보기
						</p>
					</div>
					
					<div class="row align-items-center" style=" margin-top: 5%;">
						<div class="col-md-6">
							<div class="contact-info">
								<p>
									<i class="fa fa-user"></i>이현우
								</p>
								<p>
									<i class="fa fa-tag"></i>Web Designer & Developer
								</p>
								<p>
									<i class="fa fa-envelope"></i><a
										href="mailto:dldjsl2@naver.com">dldjsl2@naver.com</a>
								</p>
								<p>
									<i class="fa fa-phone"></i><a href="tel:+01068660741">010-6866-0741</a>
								</p>
								<p>
									<i class="fa fa-map-marker"></i>경기도 부천시 경인로3번길 24 (우)1473
								</p>
								<div class="social">
									<a class="btn" href="https://www.youtube.com/@user-mp4hv6hg6q"><i
										class="fab fa-youtube"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form">
								<form id="emailfrm">
									<div class="form-row">
										<div class="form-group col-md-6">
											<input type="text" id="name" class="form-control"
												placeholder="Your Name" />
										</div>
										<div class="form-group col-md-6">
											<input type="email" id="email" class="form-control"
												placeholder="Your Email" />
										</div>
									</div>
									<div class="form-group">
										<input type="text" id="subject" class="form-control"
											placeholder="Subject" />
									</div>
									<div class="form-group">
										<textarea class="form-control" id="message" rows="5"
											placeholder="Message"></textarea>
									</div>
									<div>
										<button class="btn" type="submit" id="btn_sendEmail">보내기</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Contact End -->
		</div>
	</th:block>
</body>
</html>