<div class="sidebar" th:fragment="leeMenu">
	<div class="sidebar-header">
		<img src="/assets/img/leehyunwoo.jpg" alt="Image">
	</div>
	<div class="sidebar-content">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="z-index: 1;">
			<a href="#" class="navbar-brand">lhw-portfolio</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#header">홈<i class="fa fa-home"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="#about">소개<i class="fa fa-address-card"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="#career">경력 사항<i class="fa fa-address-card"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="#experience">프로젝트<i class="fa fa-tasks"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="#service">웹 서비스<i class="fa fa-tasks"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="#review">블로그<i class="fa fa-star"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="#contact">이메일<i class="fa fa-envelope"></i></a></li>
					<li class="nav-item"><a class="nav-link" href="/gallery">갤러리<i class="fa fa-image"></i></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="sidebar-footer">
		<a onclick="window.open('https://www.youtube.com/@user-mp4hv6hg6q', 'youtube','width=#, height=#'); return false" ><i class="fab fa-youtube"></i></a> 
		<a onclick="window.open('https://github.com/hyunwoo11/portfolio', 'github','width=#, height=#'); return false"><i class="fab fa-github"></i></a> 
		<a onclick="window.open('https://yeonhyeon.tistory.com', 'tistory','width=#, height=#'); return false"><i style="font-style: inherit;">T</i></a>
	</div>
</div>
